/.gitignore
/dev-requirements.txt
/README.md

/taa_model/model/notebooks/
/taa_model/model/fit.py
/taa_model/model/test.py
/taa_model/model/metrics.py

/taa_model/data/test.csv
/taa_model/data/train.csv
/taa_model/data/test_reviews.csv
/taa_model/data/train_reviews.csv

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.idea/